<style type="text/css">
       
        .navbar {
            background-color: rgba(3, 3, 3, 0.9);
            color: azure;
        }
        
        .navbar-brand {
            color: azure;
        }
        
        .navbar-brand img {
            height: 2rem;
            padding: 3%;
        }
        .nav-bar-nav li:hover {
            color: red;
        }

       .navy{
        background: rgba(0, 0, 0, 0.6);

       }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<div class="navy">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container my">
                <a class="navbar-brand text-warning font-weight-bold" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPYBMkoxBBJi9vkeBZPpLUl51F9-46Vn7_MQ&usqp=CAU"> Recipe Blog
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                          <span class="navbar-toggler-icon"></span>
                          
                    </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#submitmyrecipe">Create My Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#our_recipes">Our Recipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/myrecipe">My recipes list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#ContactUs">Contact us</a>
                        </li>
                        


                    </ul>

                </div>
            </div>
        </nav>

    </header>
</div>